$break-small: 780px;

@font-face {
  font-family: acesOff;
  src: url(../fonts/BASKVILL.ttf);
}

@media screen and (max-width: $break-small) {
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
  }

  .slider__navi {
    position: absolute;
    display: flex;
    top: 70vh;
    left: 69vw;
    flex-direction: column;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 999;
    // width: 100vw;
  }

  .slider__navi a {
    font-size: 13px;
    text-decoration: none;
    display: block;
    height: 20px;
    width: 25vw;
    margin: 0 5px 1px 5px;
    text-align: center;
    letter-spacing: 2px;
    box-shadow: none;
    border: none;
    color: rgb(255, 255, 255);
  }

  .slider__navi a.gt_slide {
    background: rgb(192, 128, 64);
  }
  .slider__navi a.ct_slide {
    background: rgb(0, 174, 239);
  }
  .slider__navi a.st_slide {
    background: rgb(115, 54, 53);
  }
  .slider__navi a.pt_slide {
    background: rgb(91, 10, 145);
  }
  .slider__navi a.nt_slide {
    background: rgb(0, 64, 64);
  }
  .slider__navi a.tt_slide {
    background: rgb(141, 198, 63);
  }
  .slider__navi a.ft_slide {
    background: rgb(146, 238, 146);
  }

  .slider__navi a:link {
    text-decoration: none;
  }
  .slider__navi a:hover {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
  }

  .slider__navi a.active {
    background: rgba(255, 255, 255, 1);
    color: rgb(0, 0, 0);
  }

  body {
    position: relative;
    font-size: 100%;
    font-family: acesOff;
    font-weight: 400;
    min-height: 100vh;
    min-width: 100vw;
  }

  .flex__container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -o-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    z-index: 1;
  }

  .flex__container.flex--active {
    z-index: 2;
  }

  .text--sub {
    font-size: 30px;
    letter-spacing: 15px;
    text-transform: uppercase;
    margin-bottom: 3px;
  }

  .text--sub a {
    color: white;
  }

  .text--sub a:link {
    text-decoration: none;
  }

  .text--sub a:hover {
    color: black;
  }

  .text--big {
    font-family: acesOff;
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    position: relative;
    margin-left: 1px;
    z-index: 99;
  }

  .text--normal {
    font-family: acesOff;
    font-size: 20px;
    word-spacing: 5px;
    color: rgba(255, 255, 255, 0.945);
    line-height: 22px;
    margin-top: 25px;
  }

  .text__background {
    font-family: acesOff;
    position: absolute;
    left: 72px;
    bottom: -60px;
    text-align: right;
    color: rgba(0, 0, 0, 0.05);
    font-size: 100px;
    font-weight: 700;
  }

  .flex__item {
    height: 100vh;
    color: #fff;
    transition: transform 0.1s linear;
  }

  .flex__item--left {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    width: 65vw;
    transform-origin: left bottom;
    transition: transform 0.1s linear 0.4s;
    opacity: 0;
    position: relative;
    text-overflow: clip;
  }

  .flex__item--right {
    width: 35vw;
    transform-origin: right center;
    transition: transform 0.1s linear 0s;
    opacity: 0;
  }

  .flex__content__right {
    color: black;
    margin-left: 80px;
    margin-top: 35px;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s;
  }

  .flex--preStart .flex__item--left,
  .flex--preStart .flex__item--right,
  .flex--active .flex__item--left,
  .flex--active .flex__item--right {
    opacity: 1;
  }

  /* Cultural Team */

  .flex--culturalTeam .flex__item--left {
    background: #65befde3;
  }

  .flex--culturalTeam .flex__item--right {
    background: #d3eaef;
  }

  /* Graphics Team */

  .flex--graphicsTeam .flex__item--left {
    background: #dd944a;
  }

  .flex--graphicsTeam .flex__item--right {
    background: #f4ecc5;
  }

  /* Social Media Team */

  .flex--socialTeam .flex__item--left {
    background: #af4c3d;
  }

  .flex--socialTeam .flex__item--right {
    background: #f0d9d6;
  }

  /* Publicity Team */

  .flex--publicityTeam .flex__item--left {
    background: #5e428d;
  }

  .flex--publicityTeam .flex__item--right {
    background: #a7a3e9;
  }

  /* Newsletter & Website Team */

  .flex--newsletterTeam .flex__item--left {
    background: #236d6d;
  }

  .flex--newsletterTeam .flex__item--right {
    background: #a7bcbb;
  }

  /* Technical Team */

  .flex--technicalTeam .flex__item--left {
    background: #719441;
  }

  .flex--technicalTeam .flex__item--right {
    background: #d6ebca;
  }

  /* Finance Team */

  .flex--financeTeam .flex__item--left {
    background: #92ee92;
  }

  .flex--financeTeam .flex__item--right {
    background: #abd6ab;
  }

  .flex__content {
    margin-left: 10px;
    width: 65vw;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s;
  }

  .team__img {
    position: absolute;
    right: 2%;
    top: 40vh;
    max-height: 35vw;
    opacity: 0.5;
    transform: translate3d(0, 0, 0);
    transition: opacity 0.43s 0.6s,
      transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93);
  }

  /* Animate-START point */

  .flex__container.animate--start .flex__content {
    transform: translate3d(0, -200%, 0);
    opacity: 0;
  }

  .flex__container.animate--start .team__img {
    transform: translate3d(-200px, 0, 0);
    opacity: 0;
  }

  /* Animate-END point */

  .flex__container.animate--end .flex__item--left {
    transform: scaleY(0);
  }

  .flex__container.animate--end .flex__item--right {
    transform: scaleX(0);
  }

  .flex__container.animate--end .flex__content {
    transform: translate3d(0, 200%, 0);
    opacity: 0;
  }

  .flex__container.animate--end .team__img {
    transform: translate3d(200px, 0, 0);
    opacity: 0;
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif;
}

$pieceAT: 0.7s;
$contentFadeAT: 0.2s;

@function map-set($map, $key, $value) {
  $new: (
    $key: $value
  );
  @return map-merge($map, $new);
}

@mixin shatteredPopup($inRow: 6, $inCol: 6) {
  $pieces: $inRow * $inCol;
  $heights: ();
  $hTotal: 100;

  @for $i from 1 through $inCol {
    $h: 100 / $inCol;
    $hVal: $h * 0.7 + floor(random($h * 0.6));

    @if $i == $inCol {
      $hVal: $hTotal;
    }

    $hTotal: $hTotal - $hVal;
    $heights: map-set($heights, $i, $hVal);
    $widths: ();

    $wTotal: 100;

    @for $j from 1 through $inRow {
      $w: 100 / $inRow;
      $wVal: $w * 0.7 + floor(random($w * 0.6));

      @if $j == $inRow {
        $wVal: $wTotal;
      }

      $wTotal: $wTotal - $wVal;
      $widths: map-set($widths, $j, $wVal);
    }

    $heights: map-set($heights, "widths-#{$i}", $widths);
  }

  $k: 4;

  @for $i from 1 through $pieces {
    .popup__piece:nth-child(#{$i}) {
      $indexH: ceil($i / $inCol);
      $pieceH: map-get($heights, $indexH);
      height: percentage($pieceH / 100);

      $indexW: $i % $inRow + 1;
      $pieceW: map-get(map-get($heights, "widths-#{$indexH}"), $indexW);

      width: percentage($pieceW / 100);

      $pieceX: percentage((30 + random(40)) / 100);

      @for $j from 1 through 3 {
        .popup__piece-inner:nth-child(#{$j}) {
          $x: (-60 + random(120)) * 1vw;
          $y: (-60 + random(120)) * 1vh;
          $z: (900 - random(1800)) * 1px;
          $rtX: 120deg + random(360deg);
          $rtY: 120deg + random(360deg);

          transform: translate3d($x, $y, $z) rotateX($rtX) rotateY($rtY);

          @if $j == 1 {
            clip-path: polygon(0 0, 0 100%, $pieceX 100%);
          }

          @if $j == 2 {
            clip-path: polygon(0 0, $pieceX 100%, 100% 0);
          }

          @if $j == 3 {
            clip-path: polygon(100% 0, 100% 100%, $pieceX 100%);
          }
        }
      }
    }

    &.s--closed .popup__piece:nth-child(#{$i}) {
      $rndPieceY: (100 + random(50)) * 1vh;

      transform: translate3d(0, $rndPieceY, 0);

      @for $j from 1 through 3 {
        .popup__piece-inner:nth-child(#{$j}) {
          $x: (-80 + random(160)) * 1vw;
          $z: (900 - random(1800)) * 1px;
          $rtX: 120deg + random(360deg);
          $rtY: 120deg + random(360deg);

          transform: translate3d($x, 0, 0) rotateX($rtX) rotateY($rtY);
        }
      }
    }
  }
}

.popups-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -10;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  perspective: 1000px;
  pointer-events: none;
  transition: z-index 0s $contentFadeAT/2 + $pieceAT;

  &.s--popup-active {
    z-index: 1000;
    pointer-events: auto;
    transition: z-index 0s 0s;
  }

  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    //background: rgba(0,0,0,0.2);
    opacity: 0;
    transition: opacity $pieceAT/2;

    .popups-cont.s--popup-active & {
      opacity: 1;
      transition: opacity $pieceAT/2 $pieceAT/2;
    }
  }
}

.popup {
  z-index: 2;
  position: relative;
  width: 500px;
  height: 500px;
  transform-style: preserve-3d;
  @include shatteredPopup;

  &__pieces {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__piece {
    float: left;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0s 0s;

    .popup.s--closed & {
      transition: transform $pieceAT $contentFadeAT/2
        cubic-bezier(0.69, -0.47, 0.97, 1.04);
    }

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    &-inner {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      opacity: 0;
      transition: opacity $pieceAT/2 * 0.8 $pieceAT/2 + $contentFadeAT ease-in,
        transform $pieceAT $contentFadeAT/2 ease-out;

      .popup.s--active & {
        transition: opacity $pieceAT/2, transform $pieceAT ease-in-out;
        transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) !important;
        opacity: 1;
      }
    }
  }

  &__content {
    position: relative;
    min-height: 500px;
    padding: 30px;
    background: #000;
    color: #fff;
    transition: opacity $contentFadeAT;
    opacity: 0;

    .popup.s--active & {
      transition-delay: $pieceAT - $contentFadeAT/2;
      opacity: 1;
    }
  }

  &__close {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 14px;
      width: 100%;
      height: 2px;
      background: #fff;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  &__heading {
    margin-bottom: 20px;
    font-size: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__text {
    font-size: 18px;
    line-height: 1.5;
  }
}

.popup-btn {
  position: absolute;
  opacity: 1;
  left: 84%;
  top: 80%;
  width: 200px;
  height: 50px;
  margin-left: -100px;
  margin-top: -25px;
  background: transparent;
  outline: none;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  border: 2px solid #000;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    background-color: #000;
    color: #fff;
    letter-spacing: 2px;
  }
}
