@font-face {
  font-family: acesOff;
  src: url(../fonts/BASKVILL.ttf); }
@media screen and (max-width: 780px) {
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden; }

  .logo {
    position: absolute;
    left: 50vw;
    top: 1vh;
    z-index: 999; }

  .logo-img {
    width: 15%; }

  .logo-img:hover {
    transform: rotate(10deg); }

  .slider__navi {
    position: absolute;
    display: flex;
    top: 70vh;
    left: 69vw;
    flex-direction: column;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 999; }

  .slider__navi a {
    font-size: 13px;
    text-decoration: none;
    display: block;
    height: 20px;
    width: 25vw;
    margin: 0 5px 1px 5px;
    text-align: center;
    letter-spacing: 2px;
    box-shadow: none;
    border: none;
    color: white; }

  .slider__navi a.gt_slide {
    background: #c08040; }

  .slider__navi a.ct_slide {
    background: #00aeef; }

  .slider__navi a.st_slide {
    background: #733635; }

  .slider__navi a.pt_slide {
    background: #5b0a91; }

  .slider__navi a.nt_slide {
    background: #004040; }

  .slider__navi a.tt_slide {
    background: #8dc63f; }

  .slider__navi a.ft_slide {
    background: #92ee92; }

  .slider__navi a:link {
    text-decoration: none; }

  .slider__navi a:hover {
    color: white;
    background: black; }

  .slider__navi a.active {
    background: white;
    color: black; }

  body {
    position: relative;
    font-size: 100%;
    font-family: acesOff;
    font-weight: 400;
    min-height: 100vh;
    min-width: 100vw; }

  .flex__container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -o-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    z-index: 1; }

  .flex__container.flex--active {
    z-index: 2; }

  .text--sub {
    font-size: 30px;
    letter-spacing: 15px;
    text-transform: uppercase;
    margin-bottom: 3px; }

  .text--sub a {
    color: white; }

  .text--sub a:link {
    text-decoration: none; }

  .text--sub a:hover {
    color: black; }

  .text--big {
    font-family: acesOff;
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    position: relative;
    margin-left: 1px;
    z-index: 99; }

  .text--normal {
    font-family: acesOff;
    font-size: 20px;
    word-spacing: 5px;
    color: rgba(255, 255, 255, 0.945);
    line-height: 22px;
    margin-top: 25px; }

  .text__background {
    font-family: acesOff;
    position: absolute;
    left: 72px;
    bottom: -60px;
    text-align: right;
    color: rgba(0, 0, 0, 0.05);
    font-size: 100px;
    font-weight: 700; }

  .flex__item {
    height: 100vh;
    color: #fff;
    transition: transform 0.1s linear; }

  .flex__item--left {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    width: 65vw;
    transform-origin: left bottom;
    transition: transform 0.1s linear 0.4s;
    opacity: 0;
    position: relative;
    text-overflow: ellipsis; }

  .flex__item--right {
    width: 35vw;
    transform-origin: right center;
    transition: transform 0.1s linear 0s;
    opacity: 0; }

  .flex__content__right {
    color: black;
    margin-left: 80px;
    margin-top: 35px;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s; }

  .flex--preStart .flex__item--left,
  .flex--preStart .flex__item--right,
  .flex--active .flex__item--left,
  .flex--active .flex__item--right {
    opacity: 1; }

  /* Cultural Team */
  .flex--culturalTeam .flex__item--left {
    background: #65befde3; }

  .flex--culturalTeam .flex__item--right {
    background: #d3eaef; }

  /* Graphics Team */
  .flex--graphicsTeam .flex__item--left {
    background: #dd944a; }

  .flex--graphicsTeam .flex__item--right {
    background: #f4ecc5; }

  /* Social Media Team */
  .flex--socialTeam .flex__item--left {
    background: #af4c3d; }

  .flex--socialTeam .flex__item--right {
    background: #f0d9d6; }

  /* Publicity Team */
  .flex--publicityTeam .flex__item--left {
    background: #5e428d; }

  .flex--publicityTeam .flex__item--right {
    background: #a7a3e9; }

  /* Newsletter & Website Team */
  .flex--newsletterTeam .flex__item--left {
    background: #236d6d; }

  .flex--newsletterTeam .flex__item--right {
    background: #a7bcbb; }

  /* Technical Team */
  .flex--technicalTeam .flex__item--left {
    background: #719441; }

  .flex--technicalTeam .flex__item--right {
    background: #d6ebca; }

  /* Finance Team */
  .flex--financeTeam .flex__item--left {
    background: #92ee92; }

  .flex--financeTeam .flex__item--right {
    background: #abd6ab; }

  .flex__content {
    margin-left: 10px;
    width: 65vw;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s; }

  .team__img {
    position: absolute;
    right: 2%;
    top: 40vh;
    max-height: 35vw;
    opacity: 0.5;
    transform: translate3d(0, 0, 0);
    transition: opacity 0.43s 0.6s, transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93); }

  /* Animate-START point */
  .flex__container.animate--start .flex__content {
    transform: translate3d(0, -200%, 0);
    opacity: 0; }

  .flex__container.animate--start .team__img {
    transform: translate3d(-200px, 0, 0);
    opacity: 0; }

  /* Animate-END point */
  .flex__container.animate--end .flex__item--left {
    transform: scaleY(0); }

  .flex__container.animate--end .flex__item--right {
    transform: scaleX(0); }

  .flex__container.animate--end .flex__content {
    transform: translate3d(0, 200%, 0);
    opacity: 0; }

  .flex__container.animate--end .team__img {
    transform: translate3d(200px, 0, 0);
    opacity: 0; } }
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif; }

.popups-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -10;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  perspective: 1000px;
  pointer-events: none;
  transition: z-index 0s 0.8s; }
  .popups-cont.s--popup-active {
    z-index: 1000;
    pointer-events: auto;
    transition: z-index 0s 0s; }
  .popups-cont__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.35s; }
    .popups-cont.s--popup-active .popups-cont__overlay {
      opacity: 1;
      transition: opacity 0.35s 0.35s; }

.popup {
  z-index: 2;
  position: relative;
  width: 500px;
  height: 500px;
  transform-style: preserve-3d; }
  .popup .popup__piece:nth-child(1) {
    height: 17.66667%;
    width: 14.66667%; }
    .popup .popup__piece:nth-child(1) .popup__piece-inner:nth-child(1) {
      transform: translate3d(58vw, 49vh, 434px) rotateX(130deg) rotateY(370deg);
      clip-path: polygon(0 0, 0 100%, 61% 100%); }
    .popup .popup__piece:nth-child(1) .popup__piece-inner:nth-child(2) {
      transform: translate3d(-11vw, -9vh, 18px) rotateX(371deg) rotateY(352deg);
      clip-path: polygon(0 0, 61% 100%, 100% 0); }
    .popup .popup__piece:nth-child(1) .popup__piece-inner:nth-child(3) {
      transform: translate3d(45vw, 42vh, -418px) rotateX(154deg) rotateY(251deg);
      clip-path: polygon(100% 0, 100% 100%, 61% 100%); }
  .popup.s--closed .popup__piece:nth-child(1) {
    transform: translate3d(0, 108vh, 0); }
    .popup.s--closed .popup__piece:nth-child(1) .popup__piece-inner:nth-child(1) {
      transform: translate3d(-32vw, 0, 0) rotateX(198deg) rotateY(350deg); }
    .popup.s--closed .popup__piece:nth-child(1) .popup__piece-inner:nth-child(2) {
      transform: translate3d(-60vw, 0, 0) rotateX(341deg) rotateY(231deg); }
    .popup.s--closed .popup__piece:nth-child(1) .popup__piece-inner:nth-child(3) {
      transform: translate3d(5vw, 0, 0) rotateX(413deg) rotateY(252deg); }
  .popup .popup__piece:nth-child(2) {
    height: 17.66667%;
    width: 21.66667%; }
    .popup .popup__piece:nth-child(2) .popup__piece-inner:nth-child(1) {
      transform: translate3d(27vw, -34vh, 384px) rotateX(369deg) rotateY(167deg);
      clip-path: polygon(0 0, 0 100%, 32% 100%); }
    .popup .popup__piece:nth-child(2) .popup__piece-inner:nth-child(2) {
      transform: translate3d(16vw, 53vh, 723px) rotateX(378deg) rotateY(313deg);
      clip-path: polygon(0 0, 32% 100%, 100% 0); }
    .popup .popup__piece:nth-child(2) .popup__piece-inner:nth-child(3) {
      transform: translate3d(-52vw, 11vh, -880px) rotateX(396deg) rotateY(250deg);
      clip-path: polygon(100% 0, 100% 100%, 32% 100%); }
  .popup.s--closed .popup__piece:nth-child(2) {
    transform: translate3d(0, 145vh, 0); }
    .popup.s--closed .popup__piece:nth-child(2) .popup__piece-inner:nth-child(1) {
      transform: translate3d(27vw, 0, 0) rotateX(226deg) rotateY(247deg); }
    .popup.s--closed .popup__piece:nth-child(2) .popup__piece-inner:nth-child(2) {
      transform: translate3d(-17vw, 0, 0) rotateX(427deg) rotateY(254deg); }
    .popup.s--closed .popup__piece:nth-child(2) .popup__piece-inner:nth-child(3) {
      transform: translate3d(23vw, 0, 0) rotateX(388deg) rotateY(381deg); }
  .popup .popup__piece:nth-child(3) {
    height: 17.66667%;
    width: 20.66667%; }
    .popup .popup__piece:nth-child(3) .popup__piece-inner:nth-child(1) {
      transform: translate3d(33vw, 38vh, 715px) rotateX(121deg) rotateY(480deg);
      clip-path: polygon(0 0, 0 100%, 46% 100%); }
    .popup .popup__piece:nth-child(3) .popup__piece-inner:nth-child(2) {
      transform: translate3d(-43vw, -14vh, 417px) rotateX(201deg) rotateY(250deg);
      clip-path: polygon(0 0, 46% 100%, 100% 0); }
    .popup .popup__piece:nth-child(3) .popup__piece-inner:nth-child(3) {
      transform: translate3d(-34vw, 58vh, 194px) rotateX(288deg) rotateY(146deg);
      clip-path: polygon(100% 0, 100% 100%, 46% 100%); }
  .popup.s--closed .popup__piece:nth-child(3) {
    transform: translate3d(0, 133vh, 0); }
    .popup.s--closed .popup__piece:nth-child(3) .popup__piece-inner:nth-child(1) {
      transform: translate3d(-16vw, 0, 0) rotateX(210deg) rotateY(465deg); }
    .popup.s--closed .popup__piece:nth-child(3) .popup__piece-inner:nth-child(2) {
      transform: translate3d(-5vw, 0, 0) rotateX(319deg) rotateY(409deg); }
    .popup.s--closed .popup__piece:nth-child(3) .popup__piece-inner:nth-child(3) {
      transform: translate3d(23vw, 0, 0) rotateX(470deg) rotateY(228deg); }
  .popup .popup__piece:nth-child(4) {
    height: 17.66667%;
    width: 13.66667%; }
    .popup .popup__piece:nth-child(4) .popup__piece-inner:nth-child(1) {
      transform: translate3d(-10vw, -54vh, 172px) rotateX(365deg) rotateY(443deg);
      clip-path: polygon(0 0, 0 100%, 53% 100%); }
    .popup .popup__piece:nth-child(4) .popup__piece-inner:nth-child(2) {
      transform: translate3d(-46vw, -39vh, -781px) rotateX(278deg) rotateY(415deg);
      clip-path: polygon(0 0, 53% 100%, 100% 0); }
    .popup .popup__piece:nth-child(4) .popup__piece-inner:nth-child(3) {
      transform: translate3d(-42vw, 41vh, 778px) rotateX(338deg) rotateY(194deg);
      clip-path: polygon(100% 0, 100% 100%, 53% 100%); }
  .popup.s--closed .popup__piece:nth-child(4) {
    transform: translate3d(0, 145vh, 0); }
    .popup.s--closed .popup__piece:nth-child(4) .popup__piece-inner:nth-child(1) {
      transform: translate3d(37vw, 0, 0) rotateX(403deg) rotateY(267deg); }
    .popup.s--closed .popup__piece:nth-child(4) .popup__piece-inner:nth-child(2) {
      transform: translate3d(52vw, 0, 0) rotateX(295deg) rotateY(381deg); }
    .popup.s--closed .popup__piece:nth-child(4) .popup__piece-inner:nth-child(3) {
      transform: translate3d(71vw, 0, 0) rotateX(227deg) rotateY(295deg); }
  .popup .popup__piece:nth-child(5) {
    height: 17.66667%;
    width: 8.66667%; }
    .popup .popup__piece:nth-child(5) .popup__piece-inner:nth-child(1) {
      transform: translate3d(18vw, 39vh, -94px) rotateX(307deg) rotateY(294deg);
      clip-path: polygon(0 0, 0 100%, 65% 100%); }
    .popup .popup__piece:nth-child(5) .popup__piece-inner:nth-child(2) {
      transform: translate3d(22vw, -51vh, -657px) rotateX(290deg) rotateY(394deg);
      clip-path: polygon(0 0, 65% 100%, 100% 0); }
    .popup .popup__piece:nth-child(5) .popup__piece-inner:nth-child(3) {
      transform: translate3d(-4vw, -34vh, -78px) rotateX(354deg) rotateY(397deg);
      clip-path: polygon(100% 0, 100% 100%, 65% 100%); }
  .popup.s--closed .popup__piece:nth-child(5) {
    transform: translate3d(0, 110vh, 0); }
    .popup.s--closed .popup__piece:nth-child(5) .popup__piece-inner:nth-child(1) {
      transform: translate3d(56vw, 0, 0) rotateX(401deg) rotateY(154deg); }
    .popup.s--closed .popup__piece:nth-child(5) .popup__piece-inner:nth-child(2) {
      transform: translate3d(-5vw, 0, 0) rotateX(292deg) rotateY(478deg); }
    .popup.s--closed .popup__piece:nth-child(5) .popup__piece-inner:nth-child(3) {
      transform: translate3d(11vw, 0, 0) rotateX(390deg) rotateY(335deg); }
  .popup .popup__piece:nth-child(6) {
    height: 17.66667%;
    width: 20.66667%; }
    .popup .popup__piece:nth-child(6) .popup__piece-inner:nth-child(1) {
      transform: translate3d(15vw, 13vh, 519px) rotateX(441deg) rotateY(313deg);
      clip-path: polygon(0 0, 0 100%, 44% 100%); }
    .popup .popup__piece:nth-child(6) .popup__piece-inner:nth-child(2) {
      transform: translate3d(-24vw, 4vh, 209px) rotateX(446deg) rotateY(474deg);
      clip-path: polygon(0 0, 44% 100%, 100% 0); }
    .popup .popup__piece:nth-child(6) .popup__piece-inner:nth-child(3) {
      transform: translate3d(-48vw, -59vh, -359px) rotateX(341deg) rotateY(170deg);
      clip-path: polygon(100% 0, 100% 100%, 44% 100%); }
  .popup.s--closed .popup__piece:nth-child(6) {
    transform: translate3d(0, 136vh, 0); }
    .popup.s--closed .popup__piece:nth-child(6) .popup__piece-inner:nth-child(1) {
      transform: translate3d(-11vw, 0, 0) rotateX(129deg) rotateY(424deg); }
    .popup.s--closed .popup__piece:nth-child(6) .popup__piece-inner:nth-child(2) {
      transform: translate3d(-56vw, 0, 0) rotateX(125deg) rotateY(231deg); }
    .popup.s--closed .popup__piece:nth-child(6) .popup__piece-inner:nth-child(3) {
      transform: translate3d(58vw, 0, 0) rotateX(205deg) rotateY(324deg); }
  .popup .popup__piece:nth-child(7) {
    height: 20.66667%;
    width: 14.66667%; }
    .popup .popup__piece:nth-child(7) .popup__piece-inner:nth-child(1) {
      transform: translate3d(-55vw, -32vh, 443px) rotateX(166deg) rotateY(167deg);
      clip-path: polygon(0 0, 0 100%, 48% 100%); }
    .popup .popup__piece:nth-child(7) .popup__piece-inner:nth-child(2) {
      transform: translate3d(59vw, -4vh, -324px) rotateX(429deg) rotateY(392deg);
      clip-path: polygon(0 0, 48% 100%, 100% 0); }
    .popup .popup__piece:nth-child(7) .popup__piece-inner:nth-child(3) {
      transform: translate3d(49vw, 6vh, -899px) rotateX(477deg) rotateY(409deg);
      clip-path: polygon(100% 0, 100% 100%, 48% 100%); }
  .popup.s--closed .popup__piece:nth-child(7) {
    transform: translate3d(0, 127vh, 0); }
    .popup.s--closed .popup__piece:nth-child(7) .popup__piece-inner:nth-child(1) {
      transform: translate3d(-21vw, 0, 0) rotateX(307deg) rotateY(432deg); }
    .popup.s--closed .popup__piece:nth-child(7) .popup__piece-inner:nth-child(2) {
      transform: translate3d(35vw, 0, 0) rotateX(171deg) rotateY(256deg); }
    .popup.s--closed .popup__piece:nth-child(7) .popup__piece-inner:nth-child(3) {
      transform: translate3d(35vw, 0, 0) rotateX(347deg) rotateY(399deg); }
  .popup .popup__piece:nth-child(8) {
    height: 20.66667%;
    width: 13.66667%; }
    .popup .popup__piece:nth-child(8) .popup__piece-inner:nth-child(1) {
      transform: translate3d(-23vw, 20vh, 759px) rotateX(186deg) rotateY(415deg);
      clip-path: polygon(0 0, 0 100%, 52% 100%); }
    .popup .popup__piece:nth-child(8) .popup__piece-inner:nth-child(2) {
      transform: translate3d(-22vw, 8vh, -348px) rotateX(261deg) rotateY(352deg);
      clip-path: polygon(0 0, 52% 100%, 100% 0); }
    .popup .popup__piece:nth-child(8) .popup__piece-inner:nth-child(3) {
      transform: translate3d(34vw, -6vh, -654px) rotateX(389deg) rotateY(137deg);
      clip-path: polygon(100% 0, 100% 100%, 52% 100%); }
  .popup.s--closed .popup__piece:nth-child(8) {
    transform: translate3d(0, 120vh, 0); }
    .popup.s--closed .popup__piece:nth-child(8) .popup__piece-inner:nth-child(1) {
      transform: translate3d(23vw, 0, 0) rotateX(393deg) rotateY(283deg); }
    .popup.s--closed .popup__piece:nth-child(8) .popup__piece-inner:nth-child(2) {
      transform: translate3d(-77vw, 0, 0) rotateX(309deg) rotateY(233deg); }
    .popup.s--closed .popup__piece:nth-child(8) .popup__piece-inner:nth-child(3) {
      transform: translate3d(37vw, 0, 0) rotateX(161deg) rotateY(151deg); }
  .popup .popup__piece:nth-child(9) {
    height: 20.66667%;
    width: 20.66667%; }
    .popup .popup__piece:nth-child(9) .popup__piece-inner:nth-child(1) {
      transform: translate3d(30vw, -2vh, 785px) rotateX(451deg) rotateY(275deg);
      clip-path: polygon(0 0, 0 100%, 36% 100%); }
    .popup .popup__piece:nth-child(9) .popup__piece-inner:nth-child(2) {
      transform: translate3d(-23vw, -5vh, 92px) rotateX(379deg) rotateY(344deg);
      clip-path: polygon(0 0, 36% 100%, 100% 0); }
    .popup .popup__piece:nth-child(9) .popup__piece-inner:nth-child(3) {
      transform: translate3d(51vw, 44vh, 466px) rotateX(178deg) rotateY(391deg);
      clip-path: polygon(100% 0, 100% 100%, 36% 100%); }
  .popup.s--closed .popup__piece:nth-child(9) {
    transform: translate3d(0, 111vh, 0); }
    .popup.s--closed .popup__piece:nth-child(9) .popup__piece-inner:nth-child(1) {
      transform: translate3d(-75vw, 0, 0) rotateX(262deg) rotateY(157deg); }
    .popup.s--closed .popup__piece:nth-child(9) .popup__piece-inner:nth-child(2) {
      transform: translate3d(48vw, 0, 0) rotateX(180deg) rotateY(344deg); }
    .popup.s--closed .popup__piece:nth-child(9) .popup__piece-inner:nth-child(3) {
      transform: translate3d(80vw, 0, 0) rotateX(180deg) rotateY(145deg); }
  .popup .popup__piece:nth-child(10) {
    height: 20.66667%;
    width: 12.66667%; }
    .popup .popup__piece:nth-child(10) .popup__piece-inner:nth-child(1) {
      transform: translate3d(-44vw, -3vh, 504px) rotateX(450deg) rotateY(124deg);
      clip-path: polygon(0 0, 0 100%, 34% 100%); }
    .popup .popup__piece:nth-child(10) .popup__piece-inner:nth-child(2) {
      transform: translate3d(29vw, 30vh, -849px) rotateX(406deg) rotateY(333deg);
      clip-path: polygon(0 0, 34% 100%, 100% 0); }
    .popup .popup__piece:nth-child(10) .popup__piece-inner:nth-child(3) {
      transform: translate3d(-4vw, 14vh, -437px) rotateX(129deg) rotateY(394deg);
      clip-path: polygon(100% 0, 100% 100%, 34% 100%); }
  .popup.s--closed .popup__piece:nth-child(10) {
    transform: translate3d(0, 114vh, 0); }
    .popup.s--closed .popup__piece:nth-child(10) .popup__piece-inner:nth-child(1) {
      transform: translate3d(-65vw, 0, 0) rotateX(128deg) rotateY(398deg); }
    .popup.s--closed .popup__piece:nth-child(10) .popup__piece-inner:nth-child(2) {
      transform: translate3d(36vw, 0, 0) rotateX(201deg) rotateY(123deg); }
    .popup.s--closed .popup__piece:nth-child(10) .popup__piece-inner:nth-child(3) {
      transform: translate3d(52vw, 0, 0) rotateX(224deg) rotateY(318deg); }
  .popup .popup__piece:nth-child(11) {
    height: 20.66667%;
    width: 25.66667%; }
    .popup .popup__piece:nth-child(11) .popup__piece-inner:nth-child(1) {
      transform: translate3d(2vw, 12vh, 582px) rotateX(455deg) rotateY(221deg);
      clip-path: polygon(0 0, 0 100%, 69% 100%); }
    .popup .popup__piece:nth-child(11) .popup__piece-inner:nth-child(2) {
      transform: translate3d(19vw, 28vh, 2px) rotateX(253deg) rotateY(350deg);
      clip-path: polygon(0 0, 69% 100%, 100% 0); }
    .popup .popup__piece:nth-child(11) .popup__piece-inner:nth-child(3) {
      transform: translate3d(-55vw, -17vh, -542px) rotateX(356deg) rotateY(243deg);
      clip-path: polygon(100% 0, 100% 100%, 69% 100%); }
  .popup.s--closed .popup__piece:nth-child(11) {
    transform: translate3d(0, 123vh, 0); }
    .popup.s--closed .popup__piece:nth-child(11) .popup__piece-inner:nth-child(1) {
      transform: translate3d(32vw, 0, 0) rotateX(346deg) rotateY(136deg); }
    .popup.s--closed .popup__piece:nth-child(11) .popup__piece-inner:nth-child(2) {
      transform: translate3d(-16vw, 0, 0) rotateX(125deg) rotateY(228deg); }
    .popup.s--closed .popup__piece:nth-child(11) .popup__piece-inner:nth-child(3) {
      transform: translate3d(-22vw, 0, 0) rotateX(207deg) rotateY(457deg); }
  .popup .popup__piece:nth-child(12) {
    height: 20.66667%;
    width: 12.66667%; }
    .popup .popup__piece:nth-child(12) .popup__piece-inner:nth-child(1) {
      transform: translate3d(60vw, 41vh, 591px) rotateX(331deg) rotateY(226deg);
      clip-path: polygon(0 0, 0 100%, 51% 100%); }
    .popup .popup__piece:nth-child(12) .popup__piece-inner:nth-child(2) {
      transform: translate3d(-2vw, 3vh, -12px) rotateX(188deg) rotateY(175deg);
      clip-path: polygon(0 0, 51% 100%, 100% 0); }
    .popup .popup__piece:nth-child(12) .popup__piece-inner:nth-child(3) {
      transform: translate3d(-28vw, -28vh, -397px) rotateX(435deg) rotateY(271deg);
      clip-path: polygon(100% 0, 100% 100%, 51% 100%); }
  .popup.s--closed .popup__piece:nth-child(12) {
    transform: translate3d(0, 143vh, 0); }
    .popup.s--closed .popup__piece:nth-child(12) .popup__piece-inner:nth-child(1) {
      transform: translate3d(0vw, 0, 0) rotateX(177deg) rotateY(230deg); }
    .popup.s--closed .popup__piece:nth-child(12) .popup__piece-inner:nth-child(2) {
      transform: translate3d(-11vw, 0, 0) rotateX(389deg) rotateY(288deg); }
    .popup.s--closed .popup__piece:nth-child(12) .popup__piece-inner:nth-child(3) {
      transform: translate3d(8vw, 0, 0) rotateX(305deg) rotateY(293deg); }
  .popup .popup__piece:nth-child(13) {
    height: 15.66667%;
    width: 20.66667%; }
    .popup .popup__piece:nth-child(13) .popup__piece-inner:nth-child(1) {
      transform: translate3d(41vw, 37vh, -285px) rotateX(409deg) rotateY(271deg);
      clip-path: polygon(0 0, 0 100%, 32% 100%); }
    .popup .popup__piece:nth-child(13) .popup__piece-inner:nth-child(2) {
      transform: translate3d(-45vw, -50vh, -117px) rotateX(258deg) rotateY(216deg);
      clip-path: polygon(0 0, 32% 100%, 100% 0); }
    .popup .popup__piece:nth-child(13) .popup__piece-inner:nth-child(3) {
      transform: translate3d(-32vw, -39vh, 416px) rotateX(241deg) rotateY(165deg);
      clip-path: polygon(100% 0, 100% 100%, 32% 100%); }
  .popup.s--closed .popup__piece:nth-child(13) {
    transform: translate3d(0, 150vh, 0); }
    .popup.s--closed .popup__piece:nth-child(13) .popup__piece-inner:nth-child(1) {
      transform: translate3d(34vw, 0, 0) rotateX(290deg) rotateY(231deg); }
    .popup.s--closed .popup__piece:nth-child(13) .popup__piece-inner:nth-child(2) {
      transform: translate3d(47vw, 0, 0) rotateX(440deg) rotateY(262deg); }
    .popup.s--closed .popup__piece:nth-child(13) .popup__piece-inner:nth-child(3) {
      transform: translate3d(17vw, 0, 0) rotateX(349deg) rotateY(470deg); }
  .popup .popup__piece:nth-child(14) {
    height: 15.66667%;
    width: 15.66667%; }
    .popup .popup__piece:nth-child(14) .popup__piece-inner:nth-child(1) {
      transform: translate3d(-57vw, -20vh, 2px) rotateX(345deg) rotateY(191deg);
      clip-path: polygon(0 0, 0 100%, 58% 100%); }
    .popup .popup__piece:nth-child(14) .popup__piece-inner:nth-child(2) {
      transform: translate3d(37vw, -43vh, -877px) rotateX(159deg) rotateY(446deg);
      clip-path: polygon(0 0, 58% 100%, 100% 0); }
    .popup .popup__piece:nth-child(14) .popup__piece-inner:nth-child(3) {
      transform: translate3d(1vw, 32vh, -681px) rotateX(224deg) rotateY(260deg);
      clip-path: polygon(100% 0, 100% 100%, 58% 100%); }
  .popup.s--closed .popup__piece:nth-child(14) {
    transform: translate3d(0, 117vh, 0); }
    .popup.s--closed .popup__piece:nth-child(14) .popup__piece-inner:nth-child(1) {
      transform: translate3d(63vw, 0, 0) rotateX(297deg) rotateY(176deg); }
    .popup.s--closed .popup__piece:nth-child(14) .popup__piece-inner:nth-child(2) {
      transform: translate3d(73vw, 0, 0) rotateX(150deg) rotateY(126deg); }
    .popup.s--closed .popup__piece:nth-child(14) .popup__piece-inner:nth-child(3) {
      transform: translate3d(10vw, 0, 0) rotateX(266deg) rotateY(124deg); }
  .popup .popup__piece:nth-child(15) {
    height: 15.66667%;
    width: 12.66667%; }
    .popup .popup__piece:nth-child(15) .popup__piece-inner:nth-child(1) {
      transform: translate3d(-1vw, 22vh, 406px) rotateX(210deg) rotateY(461deg);
      clip-path: polygon(0 0, 0 100%, 64% 100%); }
    .popup .popup__piece:nth-child(15) .popup__piece-inner:nth-child(2) {
      transform: translate3d(-50vw, 10vh, 629px) rotateX(294deg) rotateY(234deg);
      clip-path: polygon(0 0, 64% 100%, 100% 0); }
    .popup .popup__piece:nth-child(15) .popup__piece-inner:nth-child(3) {
      transform: translate3d(20vw, -33vh, 599px) rotateX(365deg) rotateY(343deg);
      clip-path: polygon(100% 0, 100% 100%, 64% 100%); }
  .popup.s--closed .popup__piece:nth-child(15) {
    transform: translate3d(0, 108vh, 0); }
    .popup.s--closed .popup__piece:nth-child(15) .popup__piece-inner:nth-child(1) {
      transform: translate3d(77vw, 0, 0) rotateX(141deg) rotateY(228deg); }
    .popup.s--closed .popup__piece:nth-child(15) .popup__piece-inner:nth-child(2) {
      transform: translate3d(45vw, 0, 0) rotateX(401deg) rotateY(125deg); }
    .popup.s--closed .popup__piece:nth-child(15) .popup__piece-inner:nth-child(3) {
      transform: translate3d(-14vw, 0, 0) rotateX(270deg) rotateY(474deg); }
  .popup .popup__piece:nth-child(16) {
    height: 15.66667%;
    width: 21.66667%; }
    .popup .popup__piece:nth-child(16) .popup__piece-inner:nth-child(1) {
      transform: translate3d(-56vw, 38vh, -426px) rotateX(218deg) rotateY(129deg);
      clip-path: polygon(0 0, 0 100%, 57% 100%); }
    .popup .popup__piece:nth-child(16) .popup__piece-inner:nth-child(2) {
      transform: translate3d(1vw, -32vh, -1px) rotateX(240deg) rotateY(172deg);
      clip-path: polygon(0 0, 57% 100%, 100% 0); }
    .popup .popup__piece:nth-child(16) .popup__piece-inner:nth-child(3) {
      transform: translate3d(-47vw, 57vh, -879px) rotateX(353deg) rotateY(122deg);
      clip-path: polygon(100% 0, 100% 100%, 57% 100%); }
  .popup.s--closed .popup__piece:nth-child(16) {
    transform: translate3d(0, 142vh, 0); }
    .popup.s--closed .popup__piece:nth-child(16) .popup__piece-inner:nth-child(1) {
      transform: translate3d(-1vw, 0, 0) rotateX(166deg) rotateY(439deg); }
    .popup.s--closed .popup__piece:nth-child(16) .popup__piece-inner:nth-child(2) {
      transform: translate3d(-56vw, 0, 0) rotateX(387deg) rotateY(357deg); }
    .popup.s--closed .popup__piece:nth-child(16) .popup__piece-inner:nth-child(3) {
      transform: translate3d(-28vw, 0, 0) rotateX(211deg) rotateY(150deg); }
  .popup .popup__piece:nth-child(17) {
    height: 15.66667%;
    width: 12.66667%; }
    .popup .popup__piece:nth-child(17) .popup__piece-inner:nth-child(1) {
      transform: translate3d(-50vw, 25vh, -828px) rotateX(357deg) rotateY(126deg);
      clip-path: polygon(0 0, 0 100%, 47% 100%); }
    .popup .popup__piece:nth-child(17) .popup__piece-inner:nth-child(2) {
      transform: translate3d(50vw, -51vh, 238px) rotateX(383deg) rotateY(373deg);
      clip-path: polygon(0 0, 47% 100%, 100% 0); }
    .popup .popup__piece:nth-child(17) .popup__piece-inner:nth-child(3) {
      transform: translate3d(-36vw, 42vh, -479px) rotateX(480deg) rotateY(353deg);
      clip-path: polygon(100% 0, 100% 100%, 47% 100%); }
  .popup.s--closed .popup__piece:nth-child(17) {
    transform: translate3d(0, 111vh, 0); }
    .popup.s--closed .popup__piece:nth-child(17) .popup__piece-inner:nth-child(1) {
      transform: translate3d(76vw, 0, 0) rotateX(279deg) rotateY(414deg); }
    .popup.s--closed .popup__piece:nth-child(17) .popup__piece-inner:nth-child(2) {
      transform: translate3d(33vw, 0, 0) rotateX(434deg) rotateY(170deg); }
    .popup.s--closed .popup__piece:nth-child(17) .popup__piece-inner:nth-child(3) {
      transform: translate3d(26vw, 0, 0) rotateX(344deg) rotateY(290deg); }
  .popup .popup__piece:nth-child(18) {
    height: 15.66667%;
    width: 16.66667%; }
    .popup .popup__piece:nth-child(18) .popup__piece-inner:nth-child(1) {
      transform: translate3d(-55vw, -21vh, -872px) rotateX(311deg) rotateY(130deg);
      clip-path: polygon(0 0, 0 100%, 43% 100%); }
    .popup .popup__piece:nth-child(18) .popup__piece-inner:nth-child(2) {
      transform: translate3d(10vw, 58vh, -465px) rotateX(414deg) rotateY(477deg);
      clip-path: polygon(0 0, 43% 100%, 100% 0); }
    .popup .popup__piece:nth-child(18) .popup__piece-inner:nth-child(3) {
      transform: translate3d(48vw, -33vh, 165px) rotateX(160deg) rotateY(305deg);
      clip-path: polygon(100% 0, 100% 100%, 43% 100%); }
  .popup.s--closed .popup__piece:nth-child(18) {
    transform: translate3d(0, 123vh, 0); }
    .popup.s--closed .popup__piece:nth-child(18) .popup__piece-inner:nth-child(1) {
      transform: translate3d(66vw, 0, 0) rotateX(467deg) rotateY(294deg); }
    .popup.s--closed .popup__piece:nth-child(18) .popup__piece-inner:nth-child(2) {
      transform: translate3d(65vw, 0, 0) rotateX(412deg) rotateY(157deg); }
    .popup.s--closed .popup__piece:nth-child(18) .popup__piece-inner:nth-child(3) {
      transform: translate3d(43vw, 0, 0) rotateX(309deg) rotateY(344deg); }
  .popup .popup__piece:nth-child(19) {
    height: 21.66667%;
    width: 16.66667%; }
    .popup .popup__piece:nth-child(19) .popup__piece-inner:nth-child(1) {
      transform: translate3d(16vw, -4vh, 809px) rotateX(380deg) rotateY(478deg);
      clip-path: polygon(0 0, 0 100%, 34% 100%); }
    .popup .popup__piece:nth-child(19) .popup__piece-inner:nth-child(2) {
      transform: translate3d(59vw, -57vh, -765px) rotateX(401deg) rotateY(475deg);
      clip-path: polygon(0 0, 34% 100%, 100% 0); }
    .popup .popup__piece:nth-child(19) .popup__piece-inner:nth-child(3) {
      transform: translate3d(18vw, -3vh, -397px) rotateX(477deg) rotateY(258deg);
      clip-path: polygon(100% 0, 100% 100%, 34% 100%); }
  .popup.s--closed .popup__piece:nth-child(19) {
    transform: translate3d(0, 118vh, 0); }
    .popup.s--closed .popup__piece:nth-child(19) .popup__piece-inner:nth-child(1) {
      transform: translate3d(-35vw, 0, 0) rotateX(280deg) rotateY(204deg); }
    .popup.s--closed .popup__piece:nth-child(19) .popup__piece-inner:nth-child(2) {
      transform: translate3d(-8vw, 0, 0) rotateX(399deg) rotateY(286deg); }
    .popup.s--closed .popup__piece:nth-child(19) .popup__piece-inner:nth-child(3) {
      transform: translate3d(-49vw, 0, 0) rotateX(179deg) rotateY(374deg); }
  .popup .popup__piece:nth-child(20) {
    height: 21.66667%;
    width: 18.66667%; }
    .popup .popup__piece:nth-child(20) .popup__piece-inner:nth-child(1) {
      transform: translate3d(10vw, 49vh, -520px) rotateX(309deg) rotateY(185deg);
      clip-path: polygon(0 0, 0 100%, 55% 100%); }
    .popup .popup__piece:nth-child(20) .popup__piece-inner:nth-child(2) {
      transform: translate3d(29vw, -8vh, 689px) rotateX(356deg) rotateY(372deg);
      clip-path: polygon(0 0, 55% 100%, 100% 0); }
    .popup .popup__piece:nth-child(20) .popup__piece-inner:nth-child(3) {
      transform: translate3d(-18vw, -1vh, 251px) rotateX(358deg) rotateY(425deg);
      clip-path: polygon(100% 0, 100% 100%, 55% 100%); }
  .popup.s--closed .popup__piece:nth-child(20) {
    transform: translate3d(0, 137vh, 0); }
    .popup.s--closed .popup__piece:nth-child(20) .popup__piece-inner:nth-child(1) {
      transform: translate3d(67vw, 0, 0) rotateX(204deg) rotateY(475deg); }
    .popup.s--closed .popup__piece:nth-child(20) .popup__piece-inner:nth-child(2) {
      transform: translate3d(-35vw, 0, 0) rotateX(418deg) rotateY(264deg); }
    .popup.s--closed .popup__piece:nth-child(20) .popup__piece-inner:nth-child(3) {
      transform: translate3d(-1vw, 0, 0) rotateX(247deg) rotateY(124deg); }
  .popup .popup__piece:nth-child(21) {
    height: 21.66667%;
    width: 12.66667%; }
    .popup .popup__piece:nth-child(21) .popup__piece-inner:nth-child(1) {
      transform: translate3d(-49vw, -28vh, -859px) rotateX(218deg) rotateY(448deg);
      clip-path: polygon(0 0, 0 100%, 39% 100%); }
    .popup .popup__piece:nth-child(21) .popup__piece-inner:nth-child(2) {
      transform: translate3d(1vw, 14vh, -378px) rotateX(234deg) rotateY(402deg);
      clip-path: polygon(0 0, 39% 100%, 100% 0); }
    .popup .popup__piece:nth-child(21) .popup__piece-inner:nth-child(3) {
      transform: translate3d(45vw, -32vh, -144px) rotateX(451deg) rotateY(338deg);
      clip-path: polygon(100% 0, 100% 100%, 39% 100%); }
  .popup.s--closed .popup__piece:nth-child(21) {
    transform: translate3d(0, 106vh, 0); }
    .popup.s--closed .popup__piece:nth-child(21) .popup__piece-inner:nth-child(1) {
      transform: translate3d(-18vw, 0, 0) rotateX(308deg) rotateY(336deg); }
    .popup.s--closed .popup__piece:nth-child(21) .popup__piece-inner:nth-child(2) {
      transform: translate3d(48vw, 0, 0) rotateX(265deg) rotateY(455deg); }
    .popup.s--closed .popup__piece:nth-child(21) .popup__piece-inner:nth-child(3) {
      transform: translate3d(24vw, 0, 0) rotateX(134deg) rotateY(413deg); }
  .popup .popup__piece:nth-child(22) {
    height: 21.66667%;
    width: 13.66667%; }
    .popup .popup__piece:nth-child(22) .popup__piece-inner:nth-child(1) {
      transform: translate3d(-8vw, -41vh, 785px) rotateX(407deg) rotateY(308deg);
      clip-path: polygon(0 0, 0 100%, 65% 100%); }
    .popup .popup__piece:nth-child(22) .popup__piece-inner:nth-child(2) {
      transform: translate3d(-16vw, 22vh, -780px) rotateX(422deg) rotateY(224deg);
      clip-path: polygon(0 0, 65% 100%, 100% 0); }
    .popup .popup__piece:nth-child(22) .popup__piece-inner:nth-child(3) {
      transform: translate3d(-47vw, -12vh, 829px) rotateX(452deg) rotateY(178deg);
      clip-path: polygon(100% 0, 100% 100%, 65% 100%); }
  .popup.s--closed .popup__piece:nth-child(22) {
    transform: translate3d(0, 142vh, 0); }
    .popup.s--closed .popup__piece:nth-child(22) .popup__piece-inner:nth-child(1) {
      transform: translate3d(-38vw, 0, 0) rotateX(332deg) rotateY(274deg); }
    .popup.s--closed .popup__piece:nth-child(22) .popup__piece-inner:nth-child(2) {
      transform: translate3d(17vw, 0, 0) rotateX(150deg) rotateY(408deg); }
    .popup.s--closed .popup__piece:nth-child(22) .popup__piece-inner:nth-child(3) {
      transform: translate3d(1vw, 0, 0) rotateX(443deg) rotateY(437deg); }
  .popup .popup__piece:nth-child(23) {
    height: 21.66667%;
    width: 18.66667%; }
    .popup .popup__piece:nth-child(23) .popup__piece-inner:nth-child(1) {
      transform: translate3d(43vw, -3vh, 540px) rotateX(235deg) rotateY(468deg);
      clip-path: polygon(0 0, 0 100%, 50% 100%); }
    .popup .popup__piece:nth-child(23) .popup__piece-inner:nth-child(2) {
      transform: translate3d(50vw, 54vh, 129px) rotateX(127deg) rotateY(229deg);
      clip-path: polygon(0 0, 50% 100%, 100% 0); }
    .popup .popup__piece:nth-child(23) .popup__piece-inner:nth-child(3) {
      transform: translate3d(42vw, 17vh, -384px) rotateX(130deg) rotateY(366deg);
      clip-path: polygon(100% 0, 100% 100%, 50% 100%); }
  .popup.s--closed .popup__piece:nth-child(23) {
    transform: translate3d(0, 132vh, 0); }
    .popup.s--closed .popup__piece:nth-child(23) .popup__piece-inner:nth-child(1) {
      transform: translate3d(-63vw, 0, 0) rotateX(147deg) rotateY(313deg); }
    .popup.s--closed .popup__piece:nth-child(23) .popup__piece-inner:nth-child(2) {
      transform: translate3d(-57vw, 0, 0) rotateX(439deg) rotateY(171deg); }
    .popup.s--closed .popup__piece:nth-child(23) .popup__piece-inner:nth-child(3) {
      transform: translate3d(37vw, 0, 0) rotateX(407deg) rotateY(421deg); }
  .popup .popup__piece:nth-child(24) {
    height: 21.66667%;
    width: 19.66667%; }
    .popup .popup__piece:nth-child(24) .popup__piece-inner:nth-child(1) {
      transform: translate3d(-24vw, 18vh, -13px) rotateX(246deg) rotateY(285deg);
      clip-path: polygon(0 0, 0 100%, 46% 100%); }
    .popup .popup__piece:nth-child(24) .popup__piece-inner:nth-child(2) {
      transform: translate3d(32vw, -14vh, 207px) rotateX(448deg) rotateY(404deg);
      clip-path: polygon(0 0, 46% 100%, 100% 0); }
    .popup .popup__piece:nth-child(24) .popup__piece-inner:nth-child(3) {
      transform: translate3d(-20vw, 53vh, 396px) rotateX(378deg) rotateY(273deg);
      clip-path: polygon(100% 0, 100% 100%, 46% 100%); }
  .popup.s--closed .popup__piece:nth-child(24) {
    transform: translate3d(0, 124vh, 0); }
    .popup.s--closed .popup__piece:nth-child(24) .popup__piece-inner:nth-child(1) {
      transform: translate3d(-46vw, 0, 0) rotateX(367deg) rotateY(373deg); }
    .popup.s--closed .popup__piece:nth-child(24) .popup__piece-inner:nth-child(2) {
      transform: translate3d(47vw, 0, 0) rotateX(286deg) rotateY(221deg); }
    .popup.s--closed .popup__piece:nth-child(24) .popup__piece-inner:nth-child(3) {
      transform: translate3d(-70vw, 0, 0) rotateX(215deg) rotateY(455deg); }
  .popup .popup__piece:nth-child(25) {
    height: 17.66667%;
    width: 12.66667%; }
    .popup .popup__piece:nth-child(25) .popup__piece-inner:nth-child(1) {
      transform: translate3d(39vw, 3vh, -459px) rotateX(418deg) rotateY(471deg);
      clip-path: polygon(0 0, 0 100%, 38% 100%); }
    .popup .popup__piece:nth-child(25) .popup__piece-inner:nth-child(2) {
      transform: translate3d(-56vw, -57vh, 449px) rotateX(175deg) rotateY(268deg);
      clip-path: polygon(0 0, 38% 100%, 100% 0); }
    .popup .popup__piece:nth-child(25) .popup__piece-inner:nth-child(3) {
      transform: translate3d(-31vw, 48vh, -828px) rotateX(321deg) rotateY(339deg);
      clip-path: polygon(100% 0, 100% 100%, 38% 100%); }
  .popup.s--closed .popup__piece:nth-child(25) {
    transform: translate3d(0, 103vh, 0); }
    .popup.s--closed .popup__piece:nth-child(25) .popup__piece-inner:nth-child(1) {
      transform: translate3d(42vw, 0, 0) rotateX(162deg) rotateY(184deg); }
    .popup.s--closed .popup__piece:nth-child(25) .popup__piece-inner:nth-child(2) {
      transform: translate3d(-18vw, 0, 0) rotateX(270deg) rotateY(316deg); }
    .popup.s--closed .popup__piece:nth-child(25) .popup__piece-inner:nth-child(3) {
      transform: translate3d(-79vw, 0, 0) rotateX(190deg) rotateY(382deg); }
  .popup .popup__piece:nth-child(26) {
    height: 17.66667%;
    width: 21.66667%; }
    .popup .popup__piece:nth-child(26) .popup__piece-inner:nth-child(1) {
      transform: translate3d(22vw, 18vh, 645px) rotateX(275deg) rotateY(290deg);
      clip-path: polygon(0 0, 0 100%, 66% 100%); }
    .popup .popup__piece:nth-child(26) .popup__piece-inner:nth-child(2) {
      transform: translate3d(5vw, -20vh, -571px) rotateX(222deg) rotateY(129deg);
      clip-path: polygon(0 0, 66% 100%, 100% 0); }
    .popup .popup__piece:nth-child(26) .popup__piece-inner:nth-child(3) {
      transform: translate3d(39vw, -52vh, -342px) rotateX(261deg) rotateY(407deg);
      clip-path: polygon(100% 0, 100% 100%, 66% 100%); }
  .popup.s--closed .popup__piece:nth-child(26) {
    transform: translate3d(0, 131vh, 0); }
    .popup.s--closed .popup__piece:nth-child(26) .popup__piece-inner:nth-child(1) {
      transform: translate3d(67vw, 0, 0) rotateX(137deg) rotateY(124deg); }
    .popup.s--closed .popup__piece:nth-child(26) .popup__piece-inner:nth-child(2) {
      transform: translate3d(-59vw, 0, 0) rotateX(386deg) rotateY(124deg); }
    .popup.s--closed .popup__piece:nth-child(26) .popup__piece-inner:nth-child(3) {
      transform: translate3d(-70vw, 0, 0) rotateX(437deg) rotateY(180deg); }
  .popup .popup__piece:nth-child(27) {
    height: 17.66667%;
    width: 21.66667%; }
    .popup .popup__piece:nth-child(27) .popup__piece-inner:nth-child(1) {
      transform: translate3d(11vw, 19vh, -423px) rotateX(180deg) rotateY(212deg);
      clip-path: polygon(0 0, 0 100%, 58% 100%); }
    .popup .popup__piece:nth-child(27) .popup__piece-inner:nth-child(2) {
      transform: translate3d(46vw, -9vh, 735px) rotateX(128deg) rotateY(383deg);
      clip-path: polygon(0 0, 58% 100%, 100% 0); }
    .popup .popup__piece:nth-child(27) .popup__piece-inner:nth-child(3) {
      transform: translate3d(-48vw, 59vh, -725px) rotateX(379deg) rotateY(472deg);
      clip-path: polygon(100% 0, 100% 100%, 58% 100%); }
  .popup.s--closed .popup__piece:nth-child(27) {
    transform: translate3d(0, 107vh, 0); }
    .popup.s--closed .popup__piece:nth-child(27) .popup__piece-inner:nth-child(1) {
      transform: translate3d(-79vw, 0, 0) rotateX(279deg) rotateY(218deg); }
    .popup.s--closed .popup__piece:nth-child(27) .popup__piece-inner:nth-child(2) {
      transform: translate3d(7vw, 0, 0) rotateX(158deg) rotateY(169deg); }
    .popup.s--closed .popup__piece:nth-child(27) .popup__piece-inner:nth-child(3) {
      transform: translate3d(38vw, 0, 0) rotateX(446deg) rotateY(362deg); }
  .popup .popup__piece:nth-child(28) {
    height: 17.66667%;
    width: 13.66667%; }
    .popup .popup__piece:nth-child(28) .popup__piece-inner:nth-child(1) {
      transform: translate3d(-54vw, -11vh, -72px) rotateX(375deg) rotateY(211deg);
      clip-path: polygon(0 0, 0 100%, 32% 100%); }
    .popup .popup__piece:nth-child(28) .popup__piece-inner:nth-child(2) {
      transform: translate3d(-19vw, 15vh, -277px) rotateX(451deg) rotateY(477deg);
      clip-path: polygon(0 0, 32% 100%, 100% 0); }
    .popup .popup__piece:nth-child(28) .popup__piece-inner:nth-child(3) {
      transform: translate3d(-55vw, 52vh, -506px) rotateX(126deg) rotateY(430deg);
      clip-path: polygon(100% 0, 100% 100%, 32% 100%); }
  .popup.s--closed .popup__piece:nth-child(28) {
    transform: translate3d(0, 125vh, 0); }
    .popup.s--closed .popup__piece:nth-child(28) .popup__piece-inner:nth-child(1) {
      transform: translate3d(-66vw, 0, 0) rotateX(393deg) rotateY(169deg); }
    .popup.s--closed .popup__piece:nth-child(28) .popup__piece-inner:nth-child(2) {
      transform: translate3d(72vw, 0, 0) rotateX(402deg) rotateY(308deg); }
    .popup.s--closed .popup__piece:nth-child(28) .popup__piece-inner:nth-child(3) {
      transform: translate3d(-41vw, 0, 0) rotateX(316deg) rotateY(358deg); }
  .popup .popup__piece:nth-child(29) {
    height: 17.66667%;
    width: 12.66667%; }
    .popup .popup__piece:nth-child(29) .popup__piece-inner:nth-child(1) {
      transform: translate3d(9vw, -26vh, 85px) rotateX(456deg) rotateY(395deg);
      clip-path: polygon(0 0, 0 100%, 44% 100%); }
    .popup .popup__piece:nth-child(29) .popup__piece-inner:nth-child(2) {
      transform: translate3d(37vw, 23vh, 780px) rotateX(274deg) rotateY(303deg);
      clip-path: polygon(0 0, 44% 100%, 100% 0); }
    .popup .popup__piece:nth-child(29) .popup__piece-inner:nth-child(3) {
      transform: translate3d(-20vw, 60vh, -372px) rotateX(128deg) rotateY(449deg);
      clip-path: polygon(100% 0, 100% 100%, 44% 100%); }
  .popup.s--closed .popup__piece:nth-child(29) {
    transform: translate3d(0, 105vh, 0); }
    .popup.s--closed .popup__piece:nth-child(29) .popup__piece-inner:nth-child(1) {
      transform: translate3d(-21vw, 0, 0) rotateX(129deg) rotateY(164deg); }
    .popup.s--closed .popup__piece:nth-child(29) .popup__piece-inner:nth-child(2) {
      transform: translate3d(33vw, 0, 0) rotateX(229deg) rotateY(239deg); }
    .popup.s--closed .popup__piece:nth-child(29) .popup__piece-inner:nth-child(3) {
      transform: translate3d(-77vw, 0, 0) rotateX(446deg) rotateY(421deg); }
  .popup .popup__piece:nth-child(30) {
    height: 17.66667%;
    width: 17.66667%; }
    .popup .popup__piece:nth-child(30) .popup__piece-inner:nth-child(1) {
      transform: translate3d(-43vw, 52vh, -870px) rotateX(365deg) rotateY(186deg);
      clip-path: polygon(0 0, 0 100%, 70% 100%); }
    .popup .popup__piece:nth-child(30) .popup__piece-inner:nth-child(2) {
      transform: translate3d(-51vw, -6vh, -428px) rotateX(208deg) rotateY(416deg);
      clip-path: polygon(0 0, 70% 100%, 100% 0); }
    .popup .popup__piece:nth-child(30) .popup__piece-inner:nth-child(3) {
      transform: translate3d(23vw, 49vh, -851px) rotateX(280deg) rotateY(281deg);
      clip-path: polygon(100% 0, 100% 100%, 70% 100%); }
  .popup.s--closed .popup__piece:nth-child(30) {
    transform: translate3d(0, 107vh, 0); }
    .popup.s--closed .popup__piece:nth-child(30) .popup__piece-inner:nth-child(1) {
      transform: translate3d(59vw, 0, 0) rotateX(359deg) rotateY(218deg); }
    .popup.s--closed .popup__piece:nth-child(30) .popup__piece-inner:nth-child(2) {
      transform: translate3d(69vw, 0, 0) rotateX(192deg) rotateY(217deg); }
    .popup.s--closed .popup__piece:nth-child(30) .popup__piece-inner:nth-child(3) {
      transform: translate3d(-57vw, 0, 0) rotateX(294deg) rotateY(404deg); }
  .popup .popup__piece:nth-child(31) {
    height: 6.66667%;
    width: 19.66667%; }
    .popup .popup__piece:nth-child(31) .popup__piece-inner:nth-child(1) {
      transform: translate3d(13vw, 7vh, 249px) rotateX(451deg) rotateY(246deg);
      clip-path: polygon(0 0, 0 100%, 59% 100%); }
    .popup .popup__piece:nth-child(31) .popup__piece-inner:nth-child(2) {
      transform: translate3d(-53vw, -5vh, -472px) rotateX(409deg) rotateY(339deg);
      clip-path: polygon(0 0, 59% 100%, 100% 0); }
    .popup .popup__piece:nth-child(31) .popup__piece-inner:nth-child(3) {
      transform: translate3d(-47vw, 60vh, -34px) rotateX(364deg) rotateY(172deg);
      clip-path: polygon(100% 0, 100% 100%, 59% 100%); }
  .popup.s--closed .popup__piece:nth-child(31) {
    transform: translate3d(0, 108vh, 0); }
    .popup.s--closed .popup__piece:nth-child(31) .popup__piece-inner:nth-child(1) {
      transform: translate3d(-2vw, 0, 0) rotateX(423deg) rotateY(184deg); }
    .popup.s--closed .popup__piece:nth-child(31) .popup__piece-inner:nth-child(2) {
      transform: translate3d(8vw, 0, 0) rotateX(336deg) rotateY(324deg); }
    .popup.s--closed .popup__piece:nth-child(31) .popup__piece-inner:nth-child(3) {
      transform: translate3d(35vw, 0, 0) rotateX(480deg) rotateY(225deg); }
  .popup .popup__piece:nth-child(32) {
    height: 6.66667%;
    width: 12.66667%; }
    .popup .popup__piece:nth-child(32) .popup__piece-inner:nth-child(1) {
      transform: translate3d(-23vw, -51vh, 516px) rotateX(455deg) rotateY(231deg);
      clip-path: polygon(0 0, 0 100%, 64% 100%); }
    .popup .popup__piece:nth-child(32) .popup__piece-inner:nth-child(2) {
      transform: translate3d(-32vw, -55vh, 378px) rotateX(280deg) rotateY(212deg);
      clip-path: polygon(0 0, 64% 100%, 100% 0); }
    .popup .popup__piece:nth-child(32) .popup__piece-inner:nth-child(3) {
      transform: translate3d(-42vw, 30vh, 111px) rotateX(450deg) rotateY(147deg);
      clip-path: polygon(100% 0, 100% 100%, 64% 100%); }
  .popup.s--closed .popup__piece:nth-child(32) {
    transform: translate3d(0, 110vh, 0); }
    .popup.s--closed .popup__piece:nth-child(32) .popup__piece-inner:nth-child(1) {
      transform: translate3d(-3vw, 0, 0) rotateX(336deg) rotateY(220deg); }
    .popup.s--closed .popup__piece:nth-child(32) .popup__piece-inner:nth-child(2) {
      transform: translate3d(56vw, 0, 0) rotateX(463deg) rotateY(440deg); }
    .popup.s--closed .popup__piece:nth-child(32) .popup__piece-inner:nth-child(3) {
      transform: translate3d(-60vw, 0, 0) rotateX(346deg) rotateY(406deg); }
  .popup .popup__piece:nth-child(33) {
    height: 6.66667%;
    width: 21.66667%; }
    .popup .popup__piece:nth-child(33) .popup__piece-inner:nth-child(1) {
      transform: translate3d(-56vw, 19vh, 184px) rotateX(275deg) rotateY(251deg);
      clip-path: polygon(0 0, 0 100%, 65% 100%); }
    .popup .popup__piece:nth-child(33) .popup__piece-inner:nth-child(2) {
      transform: translate3d(17vw, -19vh, -18px) rotateX(331deg) rotateY(249deg);
      clip-path: polygon(0 0, 65% 100%, 100% 0); }
    .popup .popup__piece:nth-child(33) .popup__piece-inner:nth-child(3) {
      transform: translate3d(-33vw, 10vh, -353px) rotateX(150deg) rotateY(386deg);
      clip-path: polygon(100% 0, 100% 100%, 65% 100%); }
  .popup.s--closed .popup__piece:nth-child(33) {
    transform: translate3d(0, 138vh, 0); }
    .popup.s--closed .popup__piece:nth-child(33) .popup__piece-inner:nth-child(1) {
      transform: translate3d(64vw, 0, 0) rotateX(167deg) rotateY(449deg); }
    .popup.s--closed .popup__piece:nth-child(33) .popup__piece-inner:nth-child(2) {
      transform: translate3d(20vw, 0, 0) rotateX(249deg) rotateY(175deg); }
    .popup.s--closed .popup__piece:nth-child(33) .popup__piece-inner:nth-child(3) {
      transform: translate3d(-61vw, 0, 0) rotateX(175deg) rotateY(162deg); }
  .popup .popup__piece:nth-child(34) {
    height: 6.66667%;
    width: 21.66667%; }
    .popup .popup__piece:nth-child(34) .popup__piece-inner:nth-child(1) {
      transform: translate3d(-54vw, -11vh, -698px) rotateX(249deg) rotateY(461deg);
      clip-path: polygon(0 0, 0 100%, 59% 100%); }
    .popup .popup__piece:nth-child(34) .popup__piece-inner:nth-child(2) {
      transform: translate3d(40vw, 17vh, 458px) rotateX(321deg) rotateY(246deg);
      clip-path: polygon(0 0, 59% 100%, 100% 0); }
    .popup .popup__piece:nth-child(34) .popup__piece-inner:nth-child(3) {
      transform: translate3d(-11vw, -39vh, -633px) rotateX(212deg) rotateY(377deg);
      clip-path: polygon(100% 0, 100% 100%, 59% 100%); }
  .popup.s--closed .popup__piece:nth-child(34) {
    transform: translate3d(0, 148vh, 0); }
    .popup.s--closed .popup__piece:nth-child(34) .popup__piece-inner:nth-child(1) {
      transform: translate3d(19vw, 0, 0) rotateX(326deg) rotateY(479deg); }
    .popup.s--closed .popup__piece:nth-child(34) .popup__piece-inner:nth-child(2) {
      transform: translate3d(23vw, 0, 0) rotateX(140deg) rotateY(333deg); }
    .popup.s--closed .popup__piece:nth-child(34) .popup__piece-inner:nth-child(3) {
      transform: translate3d(-22vw, 0, 0) rotateX(125deg) rotateY(304deg); }
  .popup .popup__piece:nth-child(35) {
    height: 6.66667%;
    width: 10.66667%; }
    .popup .popup__piece:nth-child(35) .popup__piece-inner:nth-child(1) {
      transform: translate3d(-52vw, -38vh, -761px) rotateX(394deg) rotateY(320deg);
      clip-path: polygon(0 0, 0 100%, 48% 100%); }
    .popup .popup__piece:nth-child(35) .popup__piece-inner:nth-child(2) {
      transform: translate3d(-15vw, -11vh, -332px) rotateX(167deg) rotateY(215deg);
      clip-path: polygon(0 0, 48% 100%, 100% 0); }
    .popup .popup__piece:nth-child(35) .popup__piece-inner:nth-child(3) {
      transform: translate3d(-34vw, 27vh, -735px) rotateX(434deg) rotateY(401deg);
      clip-path: polygon(100% 0, 100% 100%, 48% 100%); }
  .popup.s--closed .popup__piece:nth-child(35) {
    transform: translate3d(0, 123vh, 0); }
    .popup.s--closed .popup__piece:nth-child(35) .popup__piece-inner:nth-child(1) {
      transform: translate3d(-37vw, 0, 0) rotateX(354deg) rotateY(421deg); }
    .popup.s--closed .popup__piece:nth-child(35) .popup__piece-inner:nth-child(2) {
      transform: translate3d(-78vw, 0, 0) rotateX(371deg) rotateY(202deg); }
    .popup.s--closed .popup__piece:nth-child(35) .popup__piece-inner:nth-child(3) {
      transform: translate3d(47vw, 0, 0) rotateX(250deg) rotateY(376deg); }
  .popup .popup__piece:nth-child(36) {
    height: 6.66667%;
    width: 13.66667%; }
    .popup .popup__piece:nth-child(36) .popup__piece-inner:nth-child(1) {
      transform: translate3d(7vw, -53vh, -18px) rotateX(203deg) rotateY(381deg);
      clip-path: polygon(0 0, 0 100%, 41% 100%); }
    .popup .popup__piece:nth-child(36) .popup__piece-inner:nth-child(2) {
      transform: translate3d(56vw, -56vh, 19px) rotateX(169deg) rotateY(344deg);
      clip-path: polygon(0 0, 41% 100%, 100% 0); }
    .popup .popup__piece:nth-child(36) .popup__piece-inner:nth-child(3) {
      transform: translate3d(-42vw, 2vh, 250px) rotateX(272deg) rotateY(152deg);
      clip-path: polygon(100% 0, 100% 100%, 41% 100%); }
  .popup.s--closed .popup__piece:nth-child(36) {
    transform: translate3d(0, 116vh, 0); }
    .popup.s--closed .popup__piece:nth-child(36) .popup__piece-inner:nth-child(1) {
      transform: translate3d(-38vw, 0, 0) rotateX(316deg) rotateY(122deg); }
    .popup.s--closed .popup__piece:nth-child(36) .popup__piece-inner:nth-child(2) {
      transform: translate3d(-8vw, 0, 0) rotateX(306deg) rotateY(209deg); }
    .popup.s--closed .popup__piece:nth-child(36) .popup__piece-inner:nth-child(3) {
      transform: translate3d(-74vw, 0, 0) rotateX(130deg) rotateY(404deg); }
  .popup__pieces {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
  .popup__piece {
    float: left;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0s 0s; }
    .popup.s--closed .popup__piece {
      transition: transform 0.7s 0.1s cubic-bezier(0.69, -0.47, 0.97, 1.04); }
    .popup__piece:after {
      content: "";
      display: table;
      clear: both; }
    .popup__piece-inner {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      opacity: 0;
      transition: opacity 0.28s 0.55s ease-in, transform 0.7s 0.1s ease-out; }
      .popup.s--active .popup__piece-inner {
        transition: opacity 0.35s, transform 0.7s ease-in-out;
        transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) !important;
        opacity: 1; }
  .popup__content {
    position: relative;
    min-height: 500px;
    padding: 30px;
    background: #000;
    color: #fff;
    transition: opacity 0.2s;
    opacity: 0; }
    .popup.s--active .popup__content {
      transition-delay: 0.6s;
      opacity: 1; }
  .popup__close {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer; }
    .popup__close:before, .popup__close:after {
      content: "";
      position: absolute;
      left: 0;
      top: 14px;
      width: 100%;
      height: 2px;
      background: #fff; }
    .popup__close:before {
      transform: rotate(45deg); }
    .popup__close:after {
      transform: rotate(-45deg); }
  .popup__heading {
    margin-bottom: 20px;
    font-size: 30px;
    letter-spacing: 1px;
    text-transform: uppercase; }
  .popup__text {
    font-size: 18px;
    line-height: 1.5; }

.name_lbl {
  opacity: 1;
  width: 250px;
  height: 50px;
  background: transparent;
  outline: none;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  border: 2px solid #000;
  transition: all 0.3s;
  cursor: pointer; }
  .name_lbl:hover {
    background-color: #000;
    color: #fff;
    letter-spacing: 2px; }

/*# sourceMappingURL=mediaQueries.css.map */
